.Popup {
    display: block;
    padding: 5px;
}

img {
    height: auto;
    max-width: 100%;
}

.MapUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Popup h2 {
    text-align: center;
}